header {
    text-align: center;
    margin-bottom: 1em;
}

header .logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

header ul {
    display: inline;
    list-style: none;
}

header ul li {
    margin-top: -40px;
}

footer {
    margin-top: 4em;
}

footer ul {
    list-style: none inside;
    padding-left: 0;
}

ul.font-list .media-body ul {
    list-style: none inside;
    padding-left: 0;
}

img.media-object {
    border: #34495e solid 1px;
    border-radius: 3px;
}