<div class="row">
  <div class="col-md-12">
    <h1>{{ font.full_name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <img src="/images/fonts/screenshots/{{ font.name }}.png">
  </div>
  <div class="col-xs-4">
    {{ content }}
    <hr/>
    <h4>Stats<sup><small><small><a href="/about/#font-stats">?</a></small></small></sup></h4>
    <ul>
      <li><strong>Recommended size: </strong>{{ font.stats.recommended_size }}
      <li><strong>Lines per screen: </strong>{{ font.stats.lps }}
      <li><strong>Ambiguous characters: </strong>
        {% if font.stats.ambiguous_chars %}<code>{{ font.stats.ambiguous_chars }}</code>
        {% else %}<span class="label label-success">None</span>{% endif %}
      <li><strong>Unicode support: </strong>
        {% if font.stats.unicode_support == "full" %}
        <span class="label label-success">Full</span>
        {% elsif font.stats.unicode_support == "good" %}
        <span class="label label-info">Good</span>
        {% elsif font.stats.unicode_support == "limited" %}
        <span class="label label-warning">Limited</span>
        {% else %}
        <span class="label label-danger">None</span>
        {% endif %}
    </ul>


    <h4>Info</h4>
    <dl>
      {% if font.publisher %}
      <dt><strong>Publisher: </strong></dt><dd>
        {% if font.publisher_url %}<a href="{{ font.publisher_url }}">{{ font.publisher }}</a>
        {% else %}{{ font.publisher }}{% endif %}</dd>
      {% endif %}

      {% if font.designer %}
      <dt><strong>Designer: </strong></dt><dd>
        {% if font.designer_url %}<a href="{{ font.designer_url }}">{{ font.designer }}</a>
        {% else %}{{ font.designer }}{% endif %}</dd>
      {% endif %}

      <dt><strong>Variants: </strong></dt><dd>
        {% if font.variants %}
        {% for v in font.variants %}
            {{ v }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
        {% else %}
        None
        {% endif %}
      </dd>
      {% if font.license %}
        <dt><strong>Open Source License: </strong></dt><dd>{{ font.license }}</dd>
      {% endif %}
      </dl>
    <h4>Links</h4>
    {% if font.download_url %}
    <a href="{{ font.download_url }}" class="btn btn-success">Download</a>
    {% else %}
    <a href="{{ font.download_url }}" class="btn disabled">Download not available</a>
    {% endif %}
    {% if font.repository %}
    <a href="{{ font.repository }}" class="btn btn-info">Source</a>
    {% endif %}

    {% if page.note %}
    <h4>Notes</h4>
    {{ page.note }}
    {% endif %}
    <hr/>

  </div>
</div>
