<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <div class="col-xs-4">
        <h5>Links</h5>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="https://github.com/john2x/fontsforcoding">Source on GitHub</a></li>
          <li><a href="/about/#open-source">Can't find your favorite font?</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- fontsforcoding_footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-5263157926307361"
     data-ad-slot="7391047138"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>
      <div class="col-xs-4">
        <h5>Colophon</h5>
        <p>
          Maintained by <a href="http://john2x.com">John Louis Del Rosario</a>
          (<a href="https://twitter.com/john2x">@john2x</a>).
        </p>
        <p>
          Built on Flat UI Free and Bootstrap 3. Hosted on GitHub Pages.
        </p>
        <p>
          <a href="http://loc.gov/pictures/resource/ppmsc.06145/">Logo image source</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</footer>
